.contact-details-form{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.div-layer{
    top: 70px;
    background: #262A35;
    height: 88.4vh;
    width: 100vw;
    opacity: 0.1;
    position: fixed;
    z-index: 1;
}
.contact-form{
    top: 170px;
    background: white;
    /* opacity: 0; */
    margin-top: 5px;
    width: 60%;
    margin-left: 20%;
    height: 310px;
    position: fixed;
    z-index: 2;
    /* border: 1px solid grey; */
    border-radius: 5px;
    box-shadow:4px 4px 20px 4px rgba(0,0,0,0.15);
}
.form-input-box{
    height: 100%;
    width: 100%;
    padding: 10px;
}
.resume-viewer{
    margin-top: 70px;
    /* background: #262A35; */
    margin-left:auto;
    margin-right: auto;
    /* border: 1px solid lightgray; */
    box-shadow: lightgray;
    /* opacity: 0.75; */
    box-shadow:4px 4px 20px 4px rgba(0,0,0,0.15);
}
.form-element{
    height: 37px;
    width: 90%;
    display: flex;
    align-items: center;
}
.form-main-element{
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.form-element label{
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    width: 100px;
    height: 90%;
    font-size: 15px;
    color: #262A35;
    font-weight: 700;
    margin-left: 5px;
}
.form-main-element input{
    height: 85%;
    width: 75%;
    margin-right: 5px;
    outline: none;
    border: none;
    background: #EAEAEB;
    border-radius: 3px;
    color: black;
    padding: 5px;
}
.single-element input{
    width: 90%;
}
.back{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    top: 435px;
    left: 80px;
    width: 150px;
}
.next{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    top: 435px;
    right: 80px;
    width: 150px;
}

