.page{
    width: 794px;
    height: 1123px; 
    margin: 20px;
    /* box-sizing: border-box; */
}
.resume1{
    height: 100%;
    width: 100%;
    background: lightgray;
    display: flex;
}
.resume1 .left-div{
    width: 33%;
    height: 100%;
    /* background: #1FAED6; */
    background: #ACF0F2;
    position: relative;
}
.resume1 .right-div{
    width: 67%;
    height: 100%;
    background: #F3FFE2;
    /* background: white; */
    /* background: #ACFEF2; */
}
.resume1 .line{
    height: 1.5px;
    background: black;
    
}
.l1{
    width: 95%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.l2{
    width: 93%;
    margin-left: 10%;
    margin-top: 17%;
}
.resume1 .name-info{
    height: 18%;
    margin-top: 20%;
    margin-bottom: 30%;
    margin-right: 3%;
    margin-left: 3%;

}
.resume1 .user-name{
    font-size: 210%;
    text-align: right;
    font-weight: 800;
    letter-spacing: 2px;

}
.resume1 .profession{
    font-size: 110%;
    text-align: right;
    margin-top:3%;
    font-weight: 500;
    letter-spacing: 0.5px;

}
.resume1 .quote-icon{
    position: absolute;
    background: white;
    height:6%;
    width: 26%;
    top: 18%;
    left: 71%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume1 .fa-quote-left{
    font-size: 230%;
}
.resume1 .resume-top{
    height: 22%;
    margin-top: 9.9%;
    margin-bottom: 30%;
    border-bottom: 1px solid black;

}
.l3{
    width: 95%;
    margin-bottom: 2%;
}
.resume1 .contact-info{
    height: 47%;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 75%;
    position: relative;
}
.resume1 .links{
    height: 50%;
    width: 85%;
    margin-left: 7.5% ;
}
.resume1 .contact{
    display: flex;
    align-items: center;
    height: 50%;
}
.resume1 .contact div{
    width: 48%;  
    margin-left: 5%;
}
.fa-phone-square-alt{
    position: absolute;
    left: 7.5%;
    font-size: 170%;
}
.fa-envelope-square{
    position: absolute;
    left: 50%;
    font-size: 170%;
}
.resume1 .profile-links{
    display: flex;
    align-items: center;
    height: 50%;
}
.fa-linkedin{
    position: absolute;
    left: 7.5%;
    font-size: 170%;

}
.fa-github-square{
    position: absolute;
    left: 50%;
    font-size: 170%;
}
.resume1 .profile-links div{
    width: 48%;  
    margin-left: 5%;
}
.l4{
    margin-top: 1.5%;
    width: 87%;
    margin-left: 5% ;
    margin-right: 5%;
}
.resume1 .fa-home{
    position: absolute;
    top: 71%;
    left: 9%;
    font-size: 170%;
}
.resume1 .address{
    height: 35%;
    width: 75%;
    margin-left: 15.5%;
    margin-top: 1%;
    display: flex;
    align-items: center;
}
.resume1 .summary{
    height: 39%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}
.resume1 .skills-div{
    height: 45%;
    margin-top: -13%;
    margin-left: 7.5%;
    width: 85%;
}
.resume1 .div-heading{
    height: 7%;
    background: white;
    font-size: 120%;
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 2.25%;
    letter-spacing: 4px;
    /* -moz-text-size-adjust: ; */
}
.resume1 .body{
    height: 92%;
    background: green;
    display: flex;
    width: 100%;
}
.resume1 .language-div{
    width: 100%;
}
.resume1 .div-subheading{
    height: 5%;
    background: white;
    width: 100%;
}
