*{
  box-sizing: border-box;
  margin-top: 0px;
  padding: 0px;
  font-family: 'Yusei Magic', sans-serif;
  /* display: flex; */
}

.content{
  background: #FFBCDF;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-content{
  height: 80%;
  width: 60%;
  display: flex;
}

.chat-profile{
  height: 100%;
  background: #4c4b8e;
  width: 30%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-box{
  height: 100%;
  width: 70%;
  background: #ebeef2;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.group-chat-name{

height: 15%;

background: white;

border-top-right-radius: 10px;

display: flex;

justify-content: center;

align-items: center;

margin-bottom: 0rem;
}

.group-name{
  width: 85%;
  height: 100%;
  font-size: 40px;
  color: #4c4b8e;
  font-weight: bold;
  /* border: 2px solid #6F6DD6; */
  border-radius: 25px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 10px; */
}

.chat-area{

height: 75%;

overflow-y: auto;
}

.chat {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding-inline: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  max-width: 300px;
}

.chat-input{

height: 10%;

background: white;

border-bottom-right-radius: 10px;

display: flex;

justify-content: space-evenly;

align-items: center;
}

.emoji-box{

height: 30px;

/* background: yellow; */

width: 30px;

border-radius: 50%;

/* margin-right: 10px; */

display: flex;

align-items: center;

justify-content: center;
}

#input-text{

height: 60%;

width: 66%;

background: #ebeef2;

border: none;

outline: none;

border-radius: 10px;

color: slategrey;

padding: 5px;

}

.send-chat-button{

height: 30px;

width: 30px;

background: #4c4b8e;

border-radius: 50%;

display: flex;

align-items: center;

justify-content: center;
}

.left{

background: white;
float: left ;
clear: both;
}

.right{
  
background: #6F6DD6;
  
color: white;

float :right ;

clear: both;
}

.fa-arrow-circle-up{
  color: white;
  font-size: 24px;
}

.fa-laugh-beam{
  color: lightslategrey;
  font-size: 26px;
}

.fa-edit{
  color: lightslategrey;
  font-size: 24px;
  /* margin-top: 20px; */
  /* margin-right: 10px; */
}

.join{
  margin: 5px;
  background: slategrey;
    float: left;
    clear: both;
    color: white;
    width: 97%;
    max-width: none;
    /* text-align: center; */
    justify-content: center;
}


.leave{
  margin: 5px;
  background: lightgrey;
  float: left;
  clear: both;
  color: lightslategrey;
  width: 97.5%;
  max-width: none;
  /* text-align: center; */
  justify-content: center;
}

.username{
    font-size: 10px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    color: darkslateblue;
}

.chat-info{
  
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin: 5px;
}

.change-group-name{

width: 15%;

height: 100%;

/* margin-top: 42px; */

display: flex;

flex-direction: column;

align-items: center;

justify-content: center;
}

.group-icon{

height: 25%;

width: 100px;

background: white;

border-radius: 50%;

margin: 26px;

display: flex;

align-items: center;

justify-content: center;
}
.fa-users{

/* background: lightgrey; */

color: lightgrey;

font-size: 66px;
}
.my-detail{

height: 15%;

width: 85%;

color: white;

/* margin-left: 10px; */

align-items: center;

display: flex;

flex-direction: column;
}
.active-users{

height: 60%;

width: 85%;

margin-top: 10px;

color: white;

/* margin-left: 10px; */

align-items: center;

display: flex;

flex-direction: column;
}
.fa-user-circle{

margin: 10px;

/* margin-left: 15px; */

font-size: 25px;

color: lightgrey;
}

.active-username{

display: flex;

align-items: center;

justify-content: center;

width: 100%;
}

h4{
  
margin-block-start: 0;
  
margin-block-end: 0;
  
width: 100%;
  
/* margin: 0px; */
}

.name{

width: 70%;

height: 100%;

/* margin: 5px; */

display: flex;

align-items: center;

justify-content: left;
}

.icon{
  
width: 30%;
  
height: 100%;
  
/* margin-left: 0px; */
  
display: flex;
  
align-items: center;
  
justify-content: left;
  
/* margin-left: 24px; */
}

.active-users .icon{
  background: cornflowerblue;
  height: 31px;
  width: 31px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.active-users .fa-user-circle{
  
color: white;
}

.hide{
  display:none;
}
#new-group-name{
  margin-left: 150%;
  margin-top: 5%;
  height: 30px;
  width: 160px;
  background: #ebeef2;
  color: slategray;
  border: 1px solid;
  outline: none;
  border-radius: 20px;
  padding: 5px;
}

.user-list{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
}


